@*_DefaultSectionContactComponentPartial*@

<section class="site-section bg-light" id="section-contact">
    <div class="container">
        <div class="row">

            <div class="col-md-12 text-center mb-5 site-animate">
                <h2 class="display-4">@ViewBag.title</h2>
                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <p class="lead">@ViewBag.description</p>
                    </div>
                </div>
            </div>

            <div class="col-md-7 mb-5 site-animate">
                <form action="" method="post">
                    <div class="form-group">
                        <label for="name" class="sr-only">Adınız</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Adınız">
                    </div>
                    <div class="form-group">
                        <label for="email" class="sr-only">E-posta Adresiniz</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="E-posta">
                    </div>
                    <div class="form-group">
                        <label for="message" class="sr-only">Mesaj</label>
                        <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Mesajınızı buraya yazınız..."></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-lg" value="Mesaj Gönder">
                    </div>
                </form>
            </div>

            <div class="col-md-1"></div>

            <div class="col-md-4 site-animate">
                <p>
                    <img src="@ViewBag.ImageUrl" alt="İletişim görseli" class="img-fluid">
                </p>
                <p class="text-black">
                    <strong>Adres:</strong><br />
                    @ViewBag.Address1 <br />
                    @ViewBag.Address2 <br /><br />

                    <strong>Telefon:</strong><br />
                    <a href="tel:@ViewBag.PhoneNumber">@ViewBag.PhoneNumber</a><br /><br />

                    <strong>E-posta:</strong><br />
                    <a href="mailto:@ViewBag.Email">@ViewBag.Email</a>
                </p>
            </div>

        </div>
    </div>
</section>

